[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Indicator Plugin
Name[am]=የ መጠቆሚያ ተሰኪ
Name[ar]=إضافة المؤشر
Name[ast]=Complementu indicador
Name[bg]=Индикатори
Name[ca]=Connector d'indicadors
Name[cs]=Zásuvný modul Indikátor
Name[da]=Indikator-plugin
Name[de]=Nachrichtenanzeige
Name[el]=Πρόσθετο Δεικτών Ειδοποιήσεων
Name[en_AU]=Indicator Plugin
Name[en_GB]=Indicator Plugin
Name[es]=Complemento de indicador
Name[eu]=Adierazle plugina
Name[fi]=Ilmaisinliitännäinen
Name[fr]=Greffon indicateur
Name[gl]=Engadido de indicadores
Name[he]=תוסף אינדיקטור
Name[hr]=Priključak indikatora
Name[hu]=Indikátor bővítmény
Name[id]=Plugin Indikator
Name[is]=Viðbót fyrir ástandsvísa
Name[it]=Plugin indicatore
Name[ja]=インジケータープラグイン
Name[ko]=표시기 플러그인
Name[lt]=Indikatorių įskiepis
Name[ms]=Pemalam Penunjuk
Name[nb]=Informasjonsvisnings-tillegg
Name[nl]=Aanwijzer-invoegsel
Name[oc]=Empeuton indicador
Name[pl]=Ikony powiadomień
Name[pt]=Plugin Indicador
Name[pt_BR]=Plugin Indicador
Name[ro]=Modul de indicator
Name[ru]=Индикаторы
Name[sk]=Zásuvný modul Indikátor
Name[sl]=Vstavek kazalnika
Name[sr]=Прикључак Указивач
Name[sv]=Indikatorinsticksprogram
Name[th]=ปลั๊กอินบ่งชี้สถานะ
Name[tr]=Gösterge Eklentisi
Name[ug]=كۆرسەتكۈ قىستۇرمىسى
Name[uk]=Плагін індикаторів
Name[zh_CN]=指示器插件
Name[zh_TW]=指示器插件
Comment=Provides a panel area for Unity indicators. Indicators allow applications and system services to display their status and interact with the user.
Comment[ar]=يوفر منطقة لوحة مؤشرات وحدة. مؤشرات تسمح بعرض حالة تطبيقات وخدمات النظام والتفاعل مع المستخدم.
Comment[ast]=Apurre un area de panel pa indicadores Unity. Los indicadores permiten a les aplicaciones y a los servicios del sistema amosar el so estáu ya interactuar col usuariu.
Comment[bg]=Осигурява зона в панела за Unity индикатори. Индикаторите позволяват да се показва състоянието на програмите и системните услуги, както и те да взаимодействат с потребителя.
Comment[ca]=Proporciona una àrea de plafó per als indicadors d'Unity. Els indicadors permeten que les aplicacions i els serveis del sistema mostrin l'estat i interactuïn amb l'usuari.
Comment[cs]=Poskytuje prostor panelu indikátorům Unity. Indikátory umožňují aplikacím a systémovým službám zobrazit svůj stav a reagovat na vstup uživatele.
Comment[da]=Giver et panelområde til Unity-indikatorer. Indikatorer tillader programmer og systemtjenester at vise deres status og interagere med brugeren.
Comment[de]=Stellt einen Leistenbereich für Unity-Anzeigen zur Verfügung. Diese Anzeigen erlauben es Anwendungen und Systemdiensten, ihren Status anzuzeigen und mit dem Benutzer zu interagieren.
Comment[el]=Παρέχει μια περιοχή στο ταμπλό για δείκτες του Unity. Οι δείκτες επιτρέπουν σε εφαρμογές και υπηρεσίες συστήματος να εμφανίζουν την κατάστασή τους και να αλληλεπιδρούν με το χρήστη.
Comment[en_AU]=Provides a panel area for Unity indicators. Indicators allow applications and system services to display their status and interact with the user.
Comment[es]=Se proveerá un área para los indicadores de Unity. Estos indicadores permiten a aplicaciones y servicios del sistema mostrar su estado de manera interactiva con el usuario.
Comment[fi]=Tarjoaa ilmaisinalueen Unity-ilmaisimille paneelissa. Ilmaisimet sallivat sovellusten ja järjestelmäpalveluiden näyttää tilansa ja olla vuorovaikutuksessa käyttäjän kanssa.
Comment[fr]=Fournit une zone du tableau de bord pour les indicateurs Unity. Les indicateurs permettent aux applications et aux services du système d'afficher leur état ​​et d'interagir avec l'utilisateur.
Comment[gl]=Fornece unha zona do panel para os indicadores de Unity. Os indicadores permiten que os aplicativos e os servizos do sistema mostren o seu estado e interactúen co usuario.
Comment[he]=מספק שטח פאנל עבור אינדיקטורי אחידות. אינדיקטורים מאפשרים לתוכנות ושירותי מערכת להציג את הסטטוס שלהם ולבצע אינטראקציה עם המשתמש.
Comment[hr]=Pruža prostor na ploči za Unity indikatore. Indikatori omogućuju programima i uslugama sustava da prikažu svoj status i komuniciraju s korisnikom.
Comment[hu]=Helyet biztosít a panelen a Unity indikátoroknak. Az indikátorok lehetővé teszik az alkalmazásoknak és a rendszerszolgáltatásoknak, hogy megjelenítsék állapotukat és interakcióba lépjenek a felhasználóval.
Comment[id]=Menyediakan area panel untuk indikator Unity. Indikator memungkinkan aplikasi dan layanan sistem menampilkan status mereka dan berinteraksi dengan pengguna.
Comment[is]=Setur upp stikusvæði fyrir ástandsvísa í Unity. Ástandsvísar gera forritum og kerfisþjónustum kleift að sýna stöðu og auðvelda gagnvirkni við notandann.
Comment[it]=Fronisce un'area del pannello per gli indicatori di Unity. Gli indicatori consentono alle applicazioni e ai servizi di sistema di visualizzare il loro stato e interagire con l'utente
Comment[ja]=Provides a panel area for Unity インジケーター用のパネルエリアを提供します。インジケーターはアプリケーションやシステムサービスの状態表示やユーザーとのやりとりを行います。
Comment[ko]=유니티 표시기 전용 패널 영역을 제공합니다. 표시기에서는 프로그램과 시스템 서비스의 상태를 표시하고, 사용자와 상호작용할 수 있도록 합니다.
Comment[lt]=Parūpina skydelyje Unity indikatoriams skirtą sritį. Indikatoriai leidžia programoms ir sistemos tarnyboms rodyti naudotojui jų būseną ir sąveikauti su naudotoju.
Comment[ms]=Sediakan kawasan panel untuk penunjuk Unity. Penunjuk membolehkan aplikasi dan perkhidmatan sistem paparkan status mereka dan berinteraksi dengan pengguna.
Comment[nb]=Oppretter et panelområde for Unity-instrumentering. Instrumenter gir programmer og systemtjenester muligheten til å vise status og annen info på en interaktiv måte.
Comment[nl]=Levert een werkbalkgebied voor aanwijzers van Unity. Aanwijzers stellen toepassingen en systeemdiensten in staat om hun status te tonen en interactie te hebben met de gebruiker.
Comment[oc]=Provesís una zòna del tablèu per d'indicadors d'Unity. Los indicadors permeton a las aplicacions e als servicis del sistèma d'afichar lor estat ​e d'interagir amb l'utilizaire.
Comment[pl]=Wyświetla na panelu ikony powiadomień środowiska Unity. Powiadomienia wyświetlają stan programów i usług systemu oraz umożliwiają podejmowanie działań przez użytkownika.
Comment[pt]=Oferece uma área do painel para indicadores Unity. Indicadores permitem que aplicações e serviços de sistema mostrem o seu estado e interajam com o utilizador.
Comment[pt_BR]=Fornece uma área de painel para indicadores do Unity. Os indicadores permitem que os aplicativos e serviços de sistemas exibam seus estados e interajam com o usuário.
Comment[ru]=Предоставляет место на панели для индикаторов Unity. Индикаторы позволяют приложениям и системным сервисам показывать свой статус и взаимодействовать с пользователем.
Comment[sk]=Poskytuje oblasť na paneli pre indikátory prostredia Unity. Indikátory umožňujú aplikáciám a systémovým službám zobraziť ich stav a spolupracovať s používateľom.
Comment[sl]=Zagotavlja področje na pultu za Unity kazalnike. Kazalniki aplikacijam in sistemskim storitvam omogočajo prikazovanje svojega statusa in interakcijo z uporabnikom.
Comment[sr]=Обезбеђује простор на полици за указиваче Унитија. Указивачи омогућују приказ стања програма и услуга, и њихово општење са корисником.
Comment[sv]=Ger ett panelområde för Unityindikatorer. Indikatorer tillåter program och systemtjänster att visa sin status och interagera med användaren.
Comment[th]=จัดเตรียมพื้นที่ในพาเนลสำหรับบ่งชี้สถานะแบบ Unity ตัวบ่งชี้ต่างๆ จะเปิดให้โปรแกรมและบริการต่างๆ ของระบบสามารถแสดงสถานะและโต้ตอบกับผู้ใช้ได้
Comment[tr]=Unity göstergeleri için bir panel alanı sağlar. Göstergeler uygulamaların ve sistem servislerinin durumlarını göstermelerine ve kullanıcıyla etkileşime geçmelerine izin verirler.
Comment[uk]=Показує ділянку панелі для показників з Unity. Показники дозволяють програмам і системним сервісам показувати їх статус і взаємодіяти з користувачем.
Comment[zh_CN]=给实用工具提供一块面板区域。指示器让应用程序和系统服务显示它们的状态并与用户互动。
Comment[zh_TW]=為 Unity 指示器提供面板空間。「指示器」讓應用程式和系統服務顯示其狀態以及與使用者互動。
Icon=xfce4-indicator-plugin
X-XFCE-Module=indicator-plugin
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
