[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Status Notifier Plugin
Name[bg]=Добавка Уведомление за състоянието
Name[ca]=Connector de notificador d'estat
Name[cs]=Zásuvný modul Oznamovač stavu
Name[da]=Statusnotifikator-plugin
Name[de]=Modul zur Statusbenachrichtigung
Name[es]=Complemento de notificador de estado
Name[fr]=Greffon indicateur d’état
Name[he]=תוסף מודיע סטטוס
Name[hr]=Priključak Obavještača o statusu
Name[id]=Pengaya Pemberitahu Status
Name[ko]=알림 플러그인 상태
Name[lt]=Būsenos pranešiklio įskiepis
Name[ms]=Pemalam Pemberitahuan Status
Name[nb]=Programtillegg for statusmerknader
Name[nl]=Statusberichten-invoegsel
Name[pl]=Wtyczka powiadomienia o stanie
Name[pt]=Plugin de estado de notificação
Name[pt_BR]=Plug-in Notificador de Status
Name[ru]=Модуль оповещений статуса
Name[sk]=Zásuvný modul Stavový informátor
Name[sl]=Statusna obvestila
Name[sr]=Прикључак обавештајног стања
Name[sv]=Insticksprogram för statusavisering
Name[tr]=Durum Bildirici Ögeleri
Name[zh_CN]=状态通知器插件
Name[zh_TW]=狀態通知器外掛程式
Comment=Provides a panel area for status notifier items (application indicators)
Comment[bg]=Осигурява зона в панела за елементите на Уведомление за състоянието (индикаторите на програмите)
Comment[ca]=Proporciona una àrea de plafó per als ítems del notificador d'estat (indicadors d'aplicació)
Comment[cs]=Poskytuje oblast panelu pro položky oznamovače stavu (indikátory aplikací)
Comment[da]=Leverer et panelområde til statusnotifikationselementer (programindikatorer)
Comment[de]=Stellt einen Leistenbereich für Objekte zur Statusbenachrichtung (Anwendungseinträge) bereit
Comment[es]=Proporciona un área del panel para los elementos de notificaciones de estado (indicadores de aplicación)
Comment[fr]=Fournit une zone du tableau de bord pour les éléments indicateurs d’état (indicateurs d'application)
Comment[he]=מספק שטח לוח עבור פריטי מודיע סטטוס (אינדיקטורים של ישומים)
Comment[hr]=Pruža prostor na ploči za stavke Obavještača o statusu (indikatore programa)
Comment[id]=Menyediakan area panel untuk item pemberitahuan status (indikator aplikasi)
Comment[ko]=상태 알림 아이템 (어플 표시기)에 대한 패널 영역 제공
Comment[lt]=Pateikia skydelyje sritį, skirtą būsenos pranešiklio elementams (programų indikatoriams)
Comment[ms]=Sediakan ruang panel untuk item pemberitahu status (penunjuk aplikasi)
Comment[nb]=Tilbyr et panelområde for statusmerknadselementer (programindikatorer)
Comment[nl]=Biedt een paneelgebied voor elementen van Statusberichten (toepassingsaanwijzers)
Comment[pl]=Dostarcza obszar panelu dla elementów powiadomienia o stanie (wskaźników aplikacji)
Comment[pt]=Oferece uma área de painel para itens de notificação de estado (indicadores de aplicação)
Comment[pt_BR]=Fornece uma área do painel para itens de notificação de status (indicadores de aplicações)
Comment[ru]=Предоставляет область панели для элементов оповещения статуса (индикаторов приложений)
Comment[sk]=Poskytuje oblasť panela na stavové informačné položky (indikátory aplikácií)
Comment[sl]=Rezervira del pulta za statusna obvestila programov (programski kazalniki)
Comment[sr]=Обезбеђује област на полици за ставке обавештајног стања (указиваче програма)
Comment[sv]=Tillhandahåller ett panelområde för statusaviseringsobjekt (programindikatorer)
Comment[tr]=Durum bildirici ögeleri (uygulama bildirimleri) için bir panel alanı sağlar
Comment[zh_CN]=给状态通知器项目提供一个面板区域 (应用指示器)
Comment[zh_TW]=為狀態通知器提供一個面板區域（應用程式指示器）
Icon=xfce4-statusnotifier-plugin
X-XFCE-Module=statusnotifier
X-XFCE-Unique=FALSE
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
